[global_config]
  suppress_multiple_term_dialog = True
  title_transmit_bg_color = "#2b1db0"
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = b7263113-591c-4c90-9593-6df7278c41e2
      last_active_window = True
      maximised = False
      order = 0
      parent = ""
      position = 297:406
      size = 826, 543
      title = kaizen@Observer: ~
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = default
      type = Terminal
      uuid = b7263113-591c-4c90-9593-6df7278c41e2
[plugins]
[profiles]
  [[default]]
    palette = "#000000:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#bbbbbb:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    background_color = "#000000"
    cursor_color = "#bbbbbb"
    background_darkness = 0.79
    background_image = None
    background_type = transparent
    foreground_color = "#ffffff"
